# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
    '.project-root.wordpress > .header': [
        {
            'label': 'Wordpress',
            'submenu': [
                {
                    'label': 'Add Project Root',
                    'command': 'atom-wordpress:root:open'
                },
                {
                    'label': 'Show Notifications',
                    'command': 'atom-wordpress:notifications:show'
                },
                {
                    'label': 'Clear Notifications',
                    'command': 'atom-wordpress:notifications:clear'
                },
                {
                    'label': 'Open Debug Log',
                    'command': 'atom-wordpress:debug:open'
                }
            ]
        }
    ],
    '.project-root.wordpress.watching > .header': [
        {
            'label': 'Wordpress',
            'submenu': [
                {
                    'label': 'Pause Watching',
                    'command': 'atom-wordpress:debug:pause'
                }
            ]
        }
    ],
    '.project-root.wordpress:not(.watching) > .header': [
        {
            'label': 'Wordpress',
            'submenu': [
                {
                    'label': 'Resume Watching',
                    'command': 'atom-wordpress:debug:resume'
                }
            ]
        }
    ],
    '.project-root.wordpress.cli > .header': [
        {
            'label': 'Wordpress',
            'submenu': [
                {
                    'label': 'Export Database',
                    'command': 'atom-wordpress:cli:database:export'
                }
            ]
        }
    ]